<html xmlns:th="http://thymeleaf.org">
	<body >
		<nav th:fragment="cabecera" >
			<nav class="navbar bg-body-tertiary">
			  <div class="container bg-dark">
			    <a class="navbar-brand" th:href="@{/index}">
			      <img src="/image/iconoUnju.jpg" alt="icono" width="40" height="40">
			    </a>
			  </div>
			</nav>
		</nav>
		
		
	</body>

</html>