<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
	<title>Nueva Compra</title>

	<style>
		.nav-link:hover {
			color: rgb(255, 0, 128);
			/* Color personalizado al pasar el cursor */
			background: rgb(0, 0, 0);
		}
	</style>

</head>

<body>

	<div class="container">
		<div th:include="layout/cabecera :: cabecera">

		</div>
		<header th:include="layout/header :: header">

		</header>
		<div class="row justify-content-center mt-3">
			<div class="col-md-5">
				<h2 class="text-bg-secondary p-3 text-center" th:text="${titulo}"></h2>

				<form class="form-control bg-dark-subtle" th:object="${compraNuevo}" action="/guardarcompra"
					method="post">

					<div class="row g-3 align-items-center">
						<div class="col-5">
							<label class="col-form-label">ID:</label>
						</div>
						<div class="col-7">
							<input type="number" class="form-control" th:field="*{id}" required>
						</div>
					</div>

					<div class="row g-3 align-items-center">
						<div class="col-5">
							<label class="col-form-label">Cantidad:</label>
						</div>
						<div class="col-7">
							<input type="number" class="form-control" th:field="*{cantidad}" required>
						</div>
					</div>


					<div class="row g-3 align-items-center">
						<div class="col-5">
							<label class="col-form-label">Productos </label>
						</div>
						<div class="col-7">
							<select class="form-select" aria-label="Default select example"
								th:field="*{producto.codigo}">
								<option th:each="comp : ${listaproductos}" th:value="${comp.codigo}"
									th:text="${comp.nombre}">producto
								</option>

							</select>
						</div>
					</div>


					<div class="text-center m-2">
						<input class="btn btn-dark" type="submit" value="Agregar Compra">
					</div>


				</form>
			</div>

		</div>



	</div>
	<footer th:include="layout/foter :: footer">

	</footer>


	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
</body>


</html>