<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
	<title>Nuevo Cliente</title>

	<style>
		.nav-link:hover {
			color: rgb(255, 0, 128);
			/* Color personalizado al pasar el cursor */
			background: rgb(0, 0, 0);
		}
	</style>

</head>

<body>

	<div class="container">
		<div th:include="layout/cabecera :: cabecera">

		</div>
		<header th:include="layout/header :: header">

		</header>
		<div class="row justify-content-center mt-3">
			<div class="col-md-5">
				<h2 class="text-bg-secondary p-3 text-center">Formulario para agregar un cliente</h2>

				<form class="form-control bg-dark-subtle" th:object="${nuevoCliente}" action="/cliente/guardar"
					method="post">

					<div class="row g-3 align-items-center">
						<div class="col-5">
							<label class="col-form-label">Tipo de Documento</label>
						</div>
						<div class="col-7">
							<select class="form-select" aria-label="Default select example" th:field="*{tipoDocumento}">
								<option value="DNI">dni</option>
								<option value="PASAPORTE">pasaporte</option>
							</select>
						</div>
					</div>

					<div class="row g-3 align-items-center">
						<div class="col-5">
							<label class="col-form-label">Numero de DNI</label>
						</div>
						<div class="col-7">
							<input type="number" class="form-control" th:field="*{nroDocumento}" required>
						</div>
					</div>

					<div class="row g-3 align-items-center">
						<div class="col-5">
							<label class="col-form-label">Apellido</label>
						</div>
						<div class="col-7">
							<input type="text" class="form-control" th:field="*{Apellido}" required>
						</div>
					</div>

					<div class="row g-3 align-items-center">
						<div class="col-5">
							<label class="col-form-label">Nombre</label>
						</div>
						<div class="col-7">
							<input type="text" class="form-control" th:field="*{Nombre}" required>
						</div>
					</div>
					<div class="row g-3 align-items-center">
						<div class="col-5">
							<label class="col-form-label">EMAIL</label>
						</div>
						<div class="col-7">
							<input type="email" class="form-control" th:field="*{email}" required>
						</div>
					</div>
					<div class="row g-3 align-items-center">
						<div class="col-5">
							<label class="col-form-label">Contraseña</label>
						</div>
						<div class="col-7">
							<input type="password" class="form-control" th:field="*{password}" required>
						</div>
					</div>
					<div class="row g-3 align-items-center">
						<div class="col-5">
							<label class="col-form-label">Fecha de Nacimiento</label>
						</div>
						<div class="col-7">
							<input type="date" class="form-control" th:field="*{fechaNacimiento}" required>
						</div>
					</div>

					<div class="row g-3 align-items-center">
						<div class="col-5">
							<label class="col-form-label">Codigo de Area</label>
						</div>
						<div class="col-7">
							<input type="number" class="form-control" th:field="*{codigoAreaTelefono}" required>
						</div>
					</div>

					<div class="row g-3 align-items-center">
						<div class="col-5">
							<label class="col-form-label">Numero de Telefono</label>
						</div>
						<div class="col-7">
							<input type="number" class="form-control" th:field="*{nroTeléfono}" required>
						</div>
					</div>
					<div class="row g-3 align-items-center">
						<div class="col-5">
							<label class="col-form-label">Fecha de Ultima Compra</label>
						</div>
						<div class="col-7">
							<input type="date" class="form-control" th:field="*{fechaUltimaCompra}" required>
						</div>
					</div>

					<div class="text-center m-2">
						<input class="btn btn-dark" type="submit" value="Agregar Cliente">
					</div>


				</form>
			</div>

		</div>



	</div>



	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
</body>
<footer th:include="layout/foter :: footer">

</footer>

</html>